<div class="row" ng-controller="plannerController">
    <!-- /.col -->
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#currentStatus" data-toggle="tab">CURRENT STATUS</a></li>
                <li><a href="#trace-tab-pane" data-toggle="tab">TRACE</a></li>
                <li><a href="#geo-tab-pane" data-toggle="tab">GEOFENCING</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="currentStatus">

                    <div class="col-xs-12 ">
                        <div class="col-xs-2 ">
                            <select id="sitesFilter" class="form-control">
                                <option selected="selected">All Sites</option>
                            </select>
                        </div>
                        <div class="col-xs-2 " >
                            <select id="driversFilter" class="form-control">
                                <option selected="selected">All Drivers</option>
                            </select>
                        </div>
                        <div class="col-xs-2 ">
                            <select id="vehicleFilter" class="form-control">
                                <option selected="selected">All Vehicles</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 ">
                        <div class="drvVehListBox">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#driver-tab-pane" data-toggle="tab">DRIVERS</a></li>
                                    <li><a href="#vehicle-tab-pane" data-toggle="tab">VEHICLES</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="active tab-pane" id="driver-tab-pane"> Driver List
                                    </div>
                                    <div class="tab-pane" id="vehicle-tab-pane"> Vehicle List
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Map Code starts here -->
                        <div id="map" style="height: 450px; background: grey" class="col-xs-12"></div>


                    </div>

                    <div class="clearfix"></div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="trace-tab-pane">
                    <!-- The timeline -->
                    Trace Code will come here.
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="geo-tab-pane">
                    Geofencing Code will come here.
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>